<script>
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import json from "../../posters.json";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

Vue.use(BootstrapVue);
export default {
  props: ["item"],

  data() {
    const allOptions = json.propertyGroups.map((property) => {
      let myOptions = {};
      property.properties.map((option) => {
        // myOptions[
        //   option.title.nl
        //     .replace(/(\w+)(?:\s+|$)/g, function (txt) {
        //       // uppercase first letter and add rest unchanged
        //       return txt.charAt(0).toUpperCase() + txt.substr(1);
        //     })
        //     .replace(/\s/g, "")
        // ] = "";
        myOptions[option.title.nl] = "";
      });
      return myOptions;
    });
    return {
      allData: json,
      options: allOptions.reduce((r, c) => Object.assign(r, c), {}),
      showInput: false,
      output: "",
    };
  },
  methods: {
    selectedCustomInput() {
      this.showInput = true;
    },
    selected(key, val) {
      console.log(key, ":", val);
      this.options[key] = val;
      this.showInput = false;
    },
    addToCart() {
      this.output = {
        sku: this.allData.title_single.nl,
        options: this.options,
      };
      alert(JSON.stringify(this.output));
    },
  },
};
</script>

<style>
.button {
  text-align: center;
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  padding: 1rem;
  font-weight: bolder;
  color: rgb(241, 12, 127);
}
.sub-title {
  color: rgb(44, 126, 98);
  font-size: 1em;
  font-weight: bolder;
  font-weight: normal;
}
.text-color {
  font-size: 15px;
  color: black;
}
</style>

<template>
  <div>
    <h1>{{ allData.title_plural.nl }}</h1>
    <div>{{ options }}</div>
    <div v-for="item in allData.propertyGroups" :key="item.index">
      <div class="title">
        <h5>{{ (item.title && item.title.nl) || "Default" }}</h5>
        <hr />
        <b-container class="bv-example-row">
          <b-row>
            <div class="sub-title" v-for="i in item.properties" :key="i.index">
              <b-col>
                <h6 v-if="i.title.nl != null">
                  {{
                  i.title.nl.replace(/(?:^|\s|["'([{])+\S/g, (match) =>
                  match.toUpperCase()
                  )
                  }}
                </h6>
                <hr />
                <div class="text-color" v-if="i.title.nl == 'Aantal'">
                  <label>No of digital copies :</label>
                  <span>{{ " " }}</span>
                  <input type="text" size="5" v-model="options[i.title.nl]" required />
                </div>

                <div class="text-color" v-for="j in i.options" :key="j.index">
                  <div v-if="j.name != undefined && i.title.nl != 'Aantal'">
                    <input
                      v-bind:name="i.title.nl"
                      v-bind:type="i.type"
                      v-bind:value="options[i.options]"
                      v-on:change="selected(i.title.nl, j.name.nl)"
                      required
                    />
                    <span>{{ " " }}</span>
                    <label>{{ j.name.nl }}</label>
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-container>
      </div>
    </div>
    <div class="button">
      <b-button variant="outline-primary" v-on:click="addToCart">Add to cart</b-button>
    </div>
    <br />
  </div>
</template>
