<script>
import Vue from "vue";
import Folders from "./components/Folders";
import BusinessCards from "./components/BusinessCards";
import Posters from "./components/Posters";
import VueRouter from "vue-router";

Vue.use(VueRouter);

export default {
  data() {
    return {
      //myJson: json,
    };
  },
};
</script>

<template>
  <div id="app">
    <b-nav tabs>
      <b-nav-item to="/Product/BusinessCards" exact>Business Cards</b-nav-item>
      <b-nav-item to="/Product/Posters" exact>Posters</b-nav-item>
      <b-nav-item to="/Product/Folder" exact>Folder</b-nav-item>
      <b-nav-item class="ml-auto" to="/CartItems"> Cart Items </b-nav-item>
    </b-nav>
    <router-view />
  </div>
</template>
