<!-- the html element that hosts the App.vue component -->
<div id="app"></div>

<!-- built files will be auto injected -->
<script type="text/javascript" src="main.js"></script>

<script
  type="text/javascript"
  src="http://chir.ag/projects/ntc/ntc.js"
></script>
